<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="MovieRentalConnectionString" connectionString="Data Source=LENOVO-JT;Initial Catalog=MovieRental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      
        <add name="conString" connectionString="Data Source=LENOVO-JT;Initial Catalog=MovieRental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    
    </connectionStrings>
    <system.web>
      <authentication mode="Forms" />
      <roleManager enabled="true" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
    </appSettings>

</configuration>
